*{
  box-sizing: border-box;
  margin: 0;
}



.App {
  z-index: 2;
  text-align: center;
  background: url("../public/Sky_with_puffy_clouds.jpg");
  opacity: 0.9;
  width: 100%;
  min-height: 100vh;
}



