*{
  box-sizing: border-box;
  margin: 0;
}



.App-AM {

  text-align: center;
  background: url("../public/Sky_with_puffy_clouds.jpg");
  opacity: 0.9;
  width: 100%;
  min-height: 100vh;
}

.App-PM {

  text-align: center;
  background: url("../public/fds.jpg");
  opacity: 0.9;
  width: 100%;
  min-height: 100vh;
}


.App-PM{

}

