*{
  box-sizing: border-box;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  background: url("../public/Sky_with_puffy_clouds.jpg");
  opacity: 0.9;
  width: 100%;
  height: 100vh;
}
